.calendar {
    margin: 50px;
    display: flex;
    
    .calendar-times {
        flex-grow: 0;
        margin-top: -4px;
        width: 80px;
        vertical-align: top;
        text-align: right;
        margin-right: 10px;
        font-family: 'PT Sans Narrow', Arial;
        
        .times-hours {
            font-weight: bold;
            font-size: 14px;
            color: #494a4d;
            line-height: 12px;
            
            span {
                margin-left: 5px;
                color: #c0c0c0;
                font-size: 10px;
            }
        }
        
        .times-half {
            color: #c0c0c0;
            font-size: 10px;
            line-height: 8px;
            margin: 19.5px 0px;
        }
    }

    .calendar-container {
        flex-grow: 1;
        width: 100%;
        height: 720px;
        border: 2px solid #efefef;
        border-radius: 1px;
        position: relative;
        
        .container-hours {
            @include box-sizing();
            
            height: 60px;
            border-top: 2px solid #efefef;
            width: 100%;

            &:first-child {
                border-top: 0px;
            }
        }

        .calendar-container-events {
            @include box-sizing();

            position: absolute;
            overflow: hidden;
            height: 100%;
            left: 10px;
            right: 6px;
            top: 0px;

            .calendar-event {
                @include box-sizing();

                cursor: pointer;
                padding: 9px 17px;
                position: absolute;
                width: 100%;
                background-color: #f4f4f4;
                border-radius: 3px;
                border-left: 8px solid #FF7171;
                overflow: hidden;

                h1 {
                    margin: 0px;
                    color: #FF7171;
                    font-size: 15px;
                    font-family: 'PT Sans Narrow', Arial;
                    font-weight: 400;
                }

                span {
                    font-size: 12px;
                    color: #c6c6c6;
                    font-family: 'PT Sans Narrow', Arial;
                    font-weight: 400;
                }
            }
        }
    }
}
